html,body{
	height:100%;
	margin:0px;
}

.main{
	background-image: url("../assets/images/bg-graffiti.png");
    background-size: auto 100%;
    background-color: #017EFF; 
    background-position: right;
    background-repeat: no-repeat;
	height:100%;
	width:100%;
	display: flex;
  	flex-direction: column;
  	justify-content:center;
  	align-items:flex-start;
}

.container{
	margin:0px;
	padding:0px;
	margin-left:12%;
}

.text-event{
	color:#fff;
}

.mail-text{
	color: #ffffff;
	padding-left:15px;
}

.form-control{
	margin-bottom:10px;
}

.form-heading{
	color: rgb(255,255,255);
}