html,body{
	background-color: #017EFF;
	height:100%;
}

.main{
	background-image: url("../assets/images/bg-graffiti.png");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:auto;
}

.container{
	margin:0px;
	margin-left:12%;
	border-radius:4px 4px 0px 0px;
	background-color:#fff;
	padding:0px;
	max-width:700px;
}

.btn{
	margin-bottom:20px;
	max-width:640px;
	margin-left:30px;
	margin-right:30px;
}

.create-form{
	margin-top:5%;
}

.form-heading{
	background-color:#000;
	color: #fff;
	padding-top:20px;
	padding-bottom:10px;
	padding-left:30px;	
	margin-top:0px;
	border-radius:4px 4px 2px 2px;
}

.form-control{
	background-color:#d0def4;
	color:black;
}

.form-group{
	padding-left:30px;
	padding-right:30px;
	
}