.container{
	max-width:390px;
	padding-left:15px;
	padding-right:15px;
}

.field-icon {
  float: right;
  margin-top: -33px;
  margin-left: 153px;
  position: absolute;
  z-index: 2;
}

#eye {
    visibility: hidden;
}

.btn{
	background-color: rgb(0,0,0);
	color: rgb(1, 126, 255);
}

.btn:hover{
	color:rgb(255,255,255)
}