$blue-color : #16B2E3;

html,body{
	background-color: #017EFF;
	height:100%;
}

.main{
	background-image: url("../assets/images/bg-graffiti.png");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:auto;
}

.container{
	margin:0px;
	margin-left:12%;
	max-width:700px;
	padding:0px;
}

.create-form{
	margin-top:5%;
}

.table_wrapper{
    background-color: rgb(250, 250, 250);
    padding: 10px 20px 10px 20px;
}

.table_title {
    background: #000000;
    padding-left: 30px;
    color: #fff;
    border-radius: 4px 4px 0 0;
	
}
.table-title h2 {
    font-size: 24px;
}

.table_actions{
    display: flex;
}

.action_item{
    flex:1;
    margin-right: 10px;
}

.action_item a{
    margin-top: 5px;
    display: block;
    width: 20px;
    height: 20px;
}

tbody tr:nth-child(odd){
    background-color: #f3fbfd;
}

tbody tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

thead{
    font-size: 16px;
}

.table_header{
    height: 50px;
}

.table_wrapper{
	background-color:#fff;
}

.table_row td{
    height: 50px;
    vertical-align: middle !important;
}

.actions_btn{
    border-radius: 2px;
    border: none;
    padding: 10px;
    background-color: transparent;
}



.btn_delete{
    background-image: url("../assets/icons/icon-trash.png");
    background-size: cover;
}

.btn_upgrade{
    background-image: url("../assets/icons/icon-arrow-up.png");
    background-size: cover;
}

.btn_downgrade{
    background-image: url("../assets/icons/icon-arrow-down.png");
    background-size: cover;
}

.btn_edit{
    background-image: url("../assets/icons/icon-pencil.png");
    background-size: cover;
}


.pagination_wrapper{
    display:flex;
    justify-content: space-between;
	background-color:#000;
	
}

.page-item{
		background-color:#000;
}

.page-link{
	background-color:#000;
}

.pagination{
    margin: 0;
}

.pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        margin: 0 0px;
        line-height: 30px;
        border-radius: 0px !important;
        text-align: center;
        padding: 0 6px;
    }
    .pagination li a, .pagination li a.page-link {
        background: #000;
    }
.pagination li.active a, .pagination li.active a.page-link {
        background: #000;
    }

.pagination li a:visited {
        background: #000;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

.prev-next{
	background-color:#000;
}

.hint-text{
	color:#fff;
	margin:auto 0px;
	margin-right:5px;
}